<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.erp.common.signup.mapper.SignUpMapper">
    <!--협력사 업체 정보 저장-->
    <insert id="insertVendor" parameterType="com.company.erp.common.signup.dto.SignUpDto">
        INSERT INTO
            VNCH(
                ASK_NUM,
                VENDOR_CD,
                REG_DATE,
                REG_USER_ID,
                MOD_DATE,
                MOD_USER_ID,
                DEL_FLAG,
                VENDOR_NM,
                VENDOR_ENG_NM,
                REG_TYPE,
                IRS_NO,
                CEO_USER_NM,
                ZIP_CD,
                ADDR,
                ADDR_DT,
                TEL_NO,
                FAX_NO,
                EMAIL,
                FOUNDATION_DATE,
                INDUSTRY_TYPE,
                RMK,
                PROGRESS_CD,
                REJECT_RMK,
                SIGN_USER_ID,
                COM_TYPE
        )
        VALUES(
            #{askNo},
            #{vendorCode},
            NOW(),
            #{createdBy},
            NULL,
            NULL,
            'N',
            #{vendorName},
            #{vendorNameEn},
            #{businessType},
            #{businessNo},
            #{ceoName},
            #{zipCode},
            #{address},
            #{addressDetail},
            #{phone},
            #{fax},
            #{vendorEmail},
            #{foundationDate},
            #{industry},
            NULL,
            'N',
            NULL,
            NULL,
            'V'
        )


    </insert>
    <!--협력사 유저 정보 저장-->
    <insert id="insertUser" parameterType="com.company.erp.common.signup.dto.SignUpDto">
        INSERT INTO
            VNCH_US(
                ASK_USER_NUM,
                VENDOR_CD,
                REG_DATE,
                REG_USER_ID,
                MOD_DATE,
                MOD_USER_ID,
                DEL_FLAG,
                USER_ID,
                USER_NM,
                PROGRESS_CD,
                REQ_TYPE,
                TEL_NO,
                FAX_NO,
                EMAIL,
                PASSWORD,
                COM_TYPE
            )
        VALUES(
            #{askUserNo},
            #{vendorCode},
            NOW(),
            #{createdBy},
            NULL,
            NULL,
            'N',
            #{userId},
            #{userName},
            'N',
            'I',
            #{phone},
            #{fax},
            #{userEmail},
            #{password},
            'V'
        )
    </insert>

    <!--중복 아이디 체크-->
    <select id="existsUserId" parameterType="String" resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            VN_USER
        WHERE
            USER_ID=#{userId}
    </select>
<!--    &lt;!&ndash;회사 정보 조회&ndash;&gt;-->
<!--    <select id=""-->
</mapper>