<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.erp.common.signup.mapper.SignUpMapper">
    <!--협력사 업체 정보 저장-->
    <insert id="insertVendor" parameterType="com.company.erp.common.signup.dto.VendorDto">
        INSERT INTO
        VNCH(
        VENDOR_CD AS vendorCode,
        REG_DATE AS vendorCode,
        REG_USER_ID AS vendorCode,
        MOD_DATE AS vendorCode,
        MOD_USER_ID AS vendorCode,
        DEL_FLAG AS vendorCode,
        USE_FLAG AS vendorCode,
        VENDOR_NM AS vendorCode,
        VENDOR_ENG_NM AS vendorCode,
        REG_TYPE AS vendorCode,
        IRS_NO AS vendorCode,
        CEO_USER_NM AS vendorCode,
        ZIP_CD AS vendorCode,
        ADDR AS vendorCode,
        ADDR_DT AS vendorCode,
        TEL_NO AS vendorCode,
        FAX_NO AS vendorCode,
        EMAIL AS vendorCode,
        FOUNDATION_DATE AS vendorCode,
        INDUSTRY_TYPE AS vendorCode,
        RMK AS vendorCode,
        PROGRESS_CD AS vendorCode,
        SIGN_DATE AS vendorCode,
    </insert>
    <!--협력사 유저 정보 저장-->
    <insert id="insertUser" parameterType="com.company.erp.common.signup.dto.UserDto">
        INSERT INTO
            VN_USER(
                VENDOR_CD,
                USER_ID,
                USER_NM,
                USER_NM_ENG,
                REG_DATE,
                REG_USER_ID,
                MOD_DATE,
                MOD_USER_ID,
                DEL_FLAG,
                BLOCK_FLAG,
                BLOCK_RMK,
                BLOCK_DATE,
                PASSWORD,
                USER_TYPE,
                PW_WRONG_CNT,
                EMAIL,
                TEL_NUM,
                FAX_NUM,
                ROLE,
                SIGN_DATE,
                PROGRESS_CD,
                COM_TYPE
            )
        VALUES(
            #{vendorCd},
            #{userId},
            #{userNm},
            #{userNmEng},
            NOW(),
            "추후 추가",
            "N",
            "N",
            NULL,
            NULL,
            #{password},
            "일반",
            0,
            #{email},
            #{telNum},
            #{telNum},
            #{faxNum},
            #{role},
            NULL,
            NULL,
            NULL,
            "V"
    </insert>

    <!--중복 아이디 체크-->
    <select id="existsUserId" parameterType="String" resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            VN_USER
        WHERE
            USER_ID=#{userId}
    </select>
<!--    &lt;!&ndash;회사 정보 조회&ndash;&gt;-->
<!--    <select id=""-->
</mapper>