<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.erp.master.vendoruser.mapper.VendorUserMapper">
    <!--협력사 유저 정보 전체 조회-->
    <select id="selectVendorUserList" parameterType="com.company.erp.master.vendoruser.dto.VendorUserSearchDto" resultType="com.company.erp.master.vendoruser.dto.VendorUserListDto">
        SELECT
            U.askUserNum,
            U.vendorCode,
            (
                SELECT VENDOR_NM FROM(
                    SELECT VENDOR_NM, 1 AS priority FROM VNCH WHERE VENDOR_CD = U.vendorCode
                    UNION ALL
                    SELECT VENDOR_NM, 2 AS priority FROM VNGL WHERE VENDOR_CD = U.vendorCode
                )NAME_T
                ORDER BY priority ASC
                LIMIT 1
            ) AS vendorName,
            U.userId,
            U.userName,
            U.phone,
            U.email,
            U.status,
            U.createdAt,
            U.blockFlag,
            U.delFlag,
            U.reqType
        FROM (
            <!--테이블 결합-->
            SELECT
                ASK_USER_NUM AS askUserNum,
                VENDOR_CD AS vendorCode,
                USER_ID AS userId,
                USER_NM AS userName,
                TEL_NO AS phone,
                EMAIL AS email,
                PROGRESS_CD AS status,
                REG_DATE AS createdAt,
                'N' AS blockFlag,
                DEL_FLAG AS delFlag,
                REQ_TYPE AS reqType
            FROM
                VNCH_US
            WHERE
                PROGRESS_CD IN ('N', 'C', 'R')
                AND DEL_FLAG = 'N'

            UNION ALL

            SELECT
                NULL AS askUserNum,
                VENDOR_CD AS vendorCode,
                USER_ID AS userId,
                USER_NM AS userName,
                TEL_NUM AS phone,
                EMAIL AS email,
                PROGRESS_CD AS status,
                REG_DATE AS createdAt,
                BLOCK_FLAG AS blockFlag,
                DEL_FLAG AS delFlag,
                NULL AS reqType
            FROM
                VN_USER
            WHERE
                USER_ID NOT IN (
                    <!--중복 제거-->
                    SELECT USER_ID FROM VNCH_US
                    WHERE PROGRESS_CD IN ('C', 'N', 'R')
                    AND DEL_FLAG = 'N'
                )
            AND DEL_FLAG = 'N'
        ) U

        <where>
            U.delFlag = 'N'

            <if test="userId != null and userId != ''">
                AND U.userId LIKE CONCAT('%', #{userId}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND U.userName LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="blockFlag != null and blockFlag != ''">
                AND U.blockFlag = #{blockFlag}
            </if>
            <if test="startDate != null">
                AND U.createdAt <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND U.createdAt <![CDATA[<=]]> #{endDate}
            </if>
            <if test="phone != null and phone != ''">
                AND U.phone LIKE CONCAT('%', #{phone}, '%')
            </if>
        </where>
        ORDER BY
            U.createdAt DESC
    </select>

    <!--협력사 유저 정보 회사 코드로 조회-->
    <select id="selectVendorUserListByVendorCode" parameterType="com.company.erp.master.vendoruser.dto.VendorUserSearchDto" resultType="com.company.erp.master.vendoruser.dto.VendorUserListDto">
        SELECT
            U.askUserNum,
            U.vendorCode,
            U.userId,
            U.userName,
            U.phone,
            U.email,
            U.status,
            U.createdAt,
            U.blockFlag,
            U.delFlag,
            U.reqType
        FROM (
            <!--테이블 결합-->
            SELECT
                ASK_USER_NUM AS askUserNum,
                VENDOR_CD AS vendorCode,
                USER_ID AS userId,
                USER_NM AS userName,
                TEL_NO AS phone,
                EMAIL AS email,
                PROGRESS_CD AS status,
                REG_DATE AS createdAt,
                'N' AS blockFlag,
                DEL_FLAG AS delFlag,
                REQ_TYPE AS reqType
            FROM
                VNCH_US
            WHERE
                VENDOR_CD = #{vendorCode}
                AND PROGRESS_CD IN ('N', 'C', 'R')
                AND DEL_FLAG = 'N'

            UNION ALL

            SELECT
                NULL AS askUserNum,
                VENDOR_CD AS vendorCode,
                USER_ID AS userId,
                USER_NM AS userName,
                TEL_NUM AS phone,
                EMAIL AS email,
                PROGRESS_CD AS status,
                REG_DATE AS createdAt,
                BLOCK_FLAG AS blockFlag,
                DEL_FLAG AS delFlag,
                NULL AS reqType
            FROM
                VN_USER
            WHERE
                VENDOR_CD = #{vendorCode}
            AND
                USER_ID NOT IN (
                    <!--중복 제거-->
                    SELECT USER_ID FROM VNCH_US
                    WHERE VENDOR_CD = #{vendorCode}
                    AND PROGRESS_CD IN ('C', 'N', 'R')
                    AND DEL_FLAG = 'N'
                )
            ) U
        <where>
            U.delFlag = 'N'
<!--            <if test="vendorName != null and vendorName != ''">-->
<!--                AND (-->
<!--                        GL.VENDOR_NM LIKE CONCAT('%', #{vendorName}, '%')-->
<!--                    OR-->
<!--                        CH.VENDOR_NM LIKE CONCAT('%', #{vendorName}, '%')-->
<!--                    )-->
<!--            </if>-->
            <if test="userId != null and userId != ''">
                AND U.userId LIKE CONCAT('%', #{userId}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND U.userName LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="blockFlag != null and blockFlag != ''">
                AND U.blockFlag = #{blockFlag}
            </if>
            <if test="startDate != null">
                AND U.createdAt <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND U.createdAt <![CDATA[<=]]> #{endDate}
            </if>
            <if test="phone != null and phone != ''">
                AND U.phone LIKE CONCAT('%', #{phone}, '%')
            </if>

        </where>
        ORDER BY
            U.createdAt DESC
    </select>
    <!--로그인 id로 회사 코드 조회-->
    <select id="selectVendorCodeByLoginId" parameterType="String" resultType="String">
        SELECT
        vendorCode
        FROM(
            SELECT
                VENDOR_CD AS vendorCode
            FROM
                VNCH_US
            WHERE
                USER_ID = #{loginId}
                AND DEL_FLAG = 'N'
            UNION ALL

            SELECT
                VENDOR_CD AS vendorCode
            FROM
                 VN_USER
            WHERE
                USER_ID = #{loginId}
                AND DEL_FLAG = 'N'
        ) U
        LIMIT 1
    </select>

    <!--협력사 사용자 마스터 테이블 단일 조회-->
    <select id="countVendorUsersByUserId" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            VN_USER
        WHERE
            USER_ID = #{userId}
        AND
            DEL_FLAG = 'N'
    </select>

    <!--협력사 유저 과거 존재 이력 조회-->
    <select id="countVendorUserHistoryByUserId" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            VN_USER
        WHERE
            USER_ID = #{userId}
    </select>

    <!--협력사 사용자 관리자 수 조회-->
    <select id="countVendorUsers" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            VN_USER
        WHERE
            ROLE = 'VENDOR'
        AND
            VENDOR_CD = #{vendorCode}
        AND
            DEL_FLAG = 'N'
    </select>
    
    <!--승인 대기 조회-->
    <select id="countWaitRequest" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            VNCH_US
        WHERE
            USER_ID = #{userId}
        AND
            PROGRESS_CD NOT IN ('A', 'R')
        AND
            DEL_FLAG = 'N'
    </select>

    <!--진행중인 프로세스 조회-->
    <select id="countActiveProcess" parameterType="String" resultType="int">
        SELECT
        (SELECT COUNT(*) FROM PRHD WHERE CTRL_USER_ID = #{userId} AND PROGRESS_CD IN ('T', 'A')) +
        (SELECT COUNT(*) FROM RFQHD WHERE CTRL_USER_ID = #{userId} AND PROGRESS_CD IN ('T', 'RFQS', 'G', 'J')) +
        (SELECT COUNT(*) FROM POHD WHERE CTRL_USER_ID = #{userId} AND PROGRESS_CD IN ('T', 'D', 'A', 'S', 'C')) +
        (SELECT COUNT(*) FROM GRHD WHERE CTRL_USER_ID = #{userId} AND PROGRESS_CD IN ('GRN', 'GRP'))
    </select>


    <!--저장-->
    <!--마스터 테이블 협력사 유저 정보 저장-->
    <insert id="insertUserVN_USER" parameterType="com.company.erp.master.vendoruser.dto.VendorUserRegisterDto">
        INSERT INTO
        VN_USER(
            VENDOR_CD,
            USER_ID,
            USER_NM,
            USER_NM_ENG,
            REG_DATE,
            REG_USER_ID,
            MOD_DATE,
            MOD_USER_ID,
            DEL_FLAG,
            BLOCK_FLAG,
            BLOCK_RMK,
            BLOCK_DATE,
            PASSWORD,
            PW_WRONG_CNT,
            EMAIL,
            TEL_NUM,
            FAX_NUM,
            ROLE,
            SIGN_DATE,
            PROGRESS_CD,
            COM_TYPE
        )
        VALUES(
            #{vendorCode},
            #{userId},
            #{userName},
            #{userNameEng},
            #{createdAt},
            #{createdBy},
            #{modifiedAt},
            #{modifiedBy},
            'N',
            'N',
            NULL,
            NULL,
            #{password},
            0,
            #{email},
            #{phone},
            #{fax},
            NULL,
            #{signDate},
            'A',
            'V'
        )
    </insert>

    <!--대기 테이블 협력사 유저 정보 저장-->
    <insert id="insertUserVNCH_US" parameterType="com.company.erp.master.vendoruser.dto.VendorUserRegisterDto">
        INSERT INTO
        VNCH_US(
            ASK_USER_NUM,
            VENDOR_CD,
            REG_DATE,
            REG_USER_ID,
            MOD_DATE,
            MOD_USER_ID,
            DEL_FLAG,
            USER_ID,
            USER_NM,
            PROGRESS_CD,
            REQ_TYPE,
            TEL_NO,
            FAX_NO,
            EMAIL,
            PASSWORD,
            COM_TYPE
        )
        VALUES(
            #{askUserNum},
            #{vendorCode},
            #{createdAt},
            #{createdBy},
            #{modifiedAt},
            #{modifiedBy},
            'N',
            #{userId},
            #{userName},
            #{status},
            #{reqType},
            #{phone},
            #{fax},
            #{email},
            #{password},
            'V'
        )
    </insert>

    <!--마스터 테이블 협력사 유저 정보 업데이트-->
    <update id="updateVN_USERByUserId" parameterType="com.company.erp.master.vendoruser.dto.VendorUserUpdateDto">
        UPDATE
            VN_USER
        <set>
            MOD_DATE = #{modifiedAt},
            MOD_USER_ID = #{modifiedBy},
            <if test="delFlag != null and delFlag != ''">
                DEL_FLAG = #{delFlag},
            </if>
            <if test="status != null and status != ''">
                PROGRESS_CD = #{status},
            </if>
            <if test="userName != null and userName != ''">
                USER_NM = #{userName},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email},
            </if>
            <if test="phone != null and phone != ''">
                TEL_NUM = #{phone},
            </if>
        </set>
        WHERE
            USER_ID = #{userId}
    </update>

    <!--대기 테이블 협력사 유저 정보 업데이트-->
    <update id="updateVNCH_USByAskUserNum" parameterType="com.company.erp.master.vendoruser.dto.VendorUserUpdateDto">
        UPDATE
            VNCH_US
        <set>
            MOD_DATE = #{modifiedAt},
            MOD_USER_ID = #{modifiedBy},
            <if test="delFlag != null and delFlag != ''">
                DEL_FLAG = #{delFlag},
            </if>
            <if test="status != null and status != ''">
                PROGRESS_CD = #{status},
            </if>
            <if test="rejectRemark != null and rejectRemark != ''">
                REJECT_RMK = #{rejectRemark},
            </if>
            <if test="userId != null and userId != ''">
                USER_ID = #{userId},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email},
            </if>
            <if test="phone != null and phone != ''">
                TEL_NO = #{phone},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password},
            </if>
        </set>
        WHERE
            ASK_USER_NUM = #{askUserNum}
        AND
            PROGRESS_CD IN ('C', 'N', 'R')
    </update>

    <!--아이디 중복 체크-->
    <select id="existsUserId" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            <!--마스터 테이블 존재 여부 확인-->
            SELECT 1 FROM VN_USER WHERE USER_ID = #{userId} AND DEL_FLAG = 'N'
            UNION ALL
            <!--대기 테이블 존재 여부 확인 -->
            SELECT 1 FROM (
                SELECT
                    DEL_FLAG
                FROM
                    VNCH_US
                WHERE
                    USER_ID = #{userId}
                ORDER BY
                    ASK_USER_NUM DESC
                LIMIT 1
            ) AS CH
            WHERE CH.DEL_FLAG = 'N'
            <!--과거 내역까지 조회되는 문제 발생 => 최신값 하나만 조회하여 delflag 확인-->
        ) <!--1 => 데이터 존재 여부만 확인-->
    </select>

    <!--협력사 유저 단일 조회-->
    <select id="selectVendorUserByAskUserNum" parameterType="String" resultType="com.company.erp.master.vendoruser.dto.VendorUserListDto">
        SELECT
            ASK_USER_NUM AS askUserNum,
            VENDOR_CD AS vendorCode,
            REG_DATE AS createdAt,
            REG_USER_ID AS createdBy,
            MOD_DATE AS modifiedAt,
            MOD_USER_ID AS modifiedBy,
            USER_NM AS userName,
            TEL_NO AS phone,
            FAX_NO AS fax,
            EMAIL AS email,
            PROGRESS_CD AS status,
            PASSWORD AS password,
            REQ_TYPE as reqType,
            USER_ID AS userId
        FROM
            VNCH_US
        WHERE
            ASK_USER_NUM = #{askUserNum}
        AND
            PROGRESS_CD IN ('N', 'C')
        AND
            DEL_FLAG = 'N'
    </select>

    <select id="selectVendorUserVNCH_USByUserId" parameterType="String" resultType="com.company.erp.master.vendoruser.dto.VendorUserListDto">
        SELECT
            CH.PROGRESS_CD AS status,
            CH.PASSWORD AS password,
            CH.ASK_USER_NUM as askUserNum,
            CH.USER_ID AS userId,
            M.ROLE AS role,
            M.VENDOR_CD AS vendorCode
        FROM
            VNCH_US CH
        LEFT JOIN
            VN_USER M
        ON
            CH.USER_ID = M.USER_ID
        WHERE
            CH.USER_ID = #{userId}
        AND
            CH.DEL_FLAG = 'N'
        ORDER BY
            CH.ASK_USER_NUM DESC
        LIMIT 1
    </select>

</mapper>